body {
    font-family: Arial, sans-serif;
    background-color: #2E2E2E; 
    color: #D3D3D3; 
    margin: 20px;
    font-size: 16px; 
}


h1 {
    font-size: 28px; 
    color: #F0F0F0; 
    margin-bottom: 20px;
}

/* Стили для текста "Введите SQL-запрос" */
label {
    font-size: 18px; 
    margin-bottom: 10px; 
    display: block;
}

/* Стили для textarea */
textarea {
    width: 80%;
    height: 100px;
    background-color: #3A3A3A; 
    color: #D3D3D3; 
    border: 1px solid #555; 
    padding: 10px;
    font-size: 16px; 
}

/* Стили для кнопки "Выполнить" */
button {
    margin-top: 20px;
    padding: 12px 24px; 
    background-color: #3498DB; 
    color: #FFFFFF; 
    border: none;
    cursor: pointer;
    font-size: 18px;
}

button:hover {
    background-color: #2980B9; 
}

/* Стили для ссылки "Очистить" */
.cleanse {
    color: #F79C42;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    font-size: 18px; 
}

.cleanse:hover {
    color: #F1C40F; 
}

/* Стили для таблицы */
table {
    margin-top: 20px;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    background-color: #3A3A3A; /*  фон для таблицы */
}

th, td {
    padding: 12px 15px;
    border: 1px solid #555; /* тёмная рамка */
}

th {
    background-color: #4B4B4B; 
    color: #D3D3D3; 
}

td {
    color: #E0E0E0; 
}

tr:nth-child(even) {
    background-color: #4B4B4B; 
}

tr:nth-child(odd) {
    background-color: #3A3A3A; 
}

/* Стиль для области с результатами */
#result {
    margin-top: 20px;
    padding: 15px;
    background-color: #3A3A3A;
    color: #D3D3D3;
    border: 1px solid #555;


    min-width: 91em;
    min-height: 100px;

}

/* Размещение кнопки "Очистить" правее заголовка "Результат" */
.result-block {
    display: inline-block;
    margin-right: 10px;
}


